.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.mainDiv{
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;  
  height: 480px; 
  max-width:450px;
  width: 95%  ;
  border-radius: 5px;
  box-shadow: 0px 2px 2px 1px rgba(0, 0, 0, 0.3); 
}

@media (max-width:470px) { .mainDiv{ 
     
  height: 450px;
  box-shadow: none; 
}
}
 

.formDiv{

  height: 100%; 
  width: 100%;
}

.formEle{
  width: 90%  ;
}


.qstnDiv{ 
 
   width:  95% ;
   max-width:  500px ;
   text-align: left ;
   box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
   border-radius: 10px;  

    /* box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22); */
 
}

.resultDiv{ 
 
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;  
  height: 375px;
  width:  95% ;
  max-width:  500px ; 
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  border-radius: 10px; 
   /* box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22); */

}

.nextBtn{
  z-index: 1; 
  bottom: 27px; 
}

.backBtn{
  z-index: 1; 
  bottom: -18px;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22) !important;
   
}


.similey{ 
 /* z-index: 1; */
 font-size: 220px !important;  
 position: absolute;
 margin:auto;
 top: -103px !important;
 right: 0 !important;
 bottom: 0 !important; 
 left: 0 !important;
}
